<div>
  <h1>Contenido Principal</h1>
  {{#if libros}}

  {{#each libros}}


  <section>
    <article>
      <p>{{autor}}</p>
      <p>{{titulo}}</p>
      <p>{{categoria}}</p>
    </article>
  </section>
  {{/each}}
  {{/if}}

  <div>
    <h2 style="text-align: center;">Los mejores libros del siglo 21</h2>
    <img style="display: block;width: 90%;margin: 20px auto;" src="/imgs/j21a2034.jpg" alt="top-libros-s21">
  </div>

  <div class="about">
    <h2 style="text-align: center;">Nosotros</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod similique saepe quas cum enim dicta? Possimus numquam at natus eligendi vel delectus omnis nisi officia. Eaque, accusamus porro. Accusamus culpa voluptate eius iure dignissimos ullam consectetur rem alias autem totam, vitae vel exercitationem aliquam aut rerum sed quod nobis blanditiis similique quo iusto nam labore. Voluptas tempora doloribus quo. Ipsam nobis sint amet odio reprehenderit vitae aut iure. Dolore consectetur pariatur optio, quae dignissimos eveniet. A provident libero perferendis excepturi earum quia facilis velit ea tempore omnis iste aut sint beatae, vero architecto. Eaque veritatis maxime quia iure. Officia atque eveniet dolore porro dignissimos quisquam recusandae ipsa adipisci? Ipsa ab minus vel ipsam doloremque adipisci fugiat rem libero sed, quae dolore aspernatur voluptatum tenetur id est nisi tempore earum perspiciatis voluptates ad eum. Laborum necessitatibus, fuga expedita quam assumenda, amet temporibus incidunt, harum dolores rerum iure itaque commodi. Aliquid, nostrum!</p>
  </div>

  <div class="footer">
    <p>Derechos de autor 2023 &copy;</p>
  </div>
</div>