<div
    style="height: calc(100vh - 144px); display: flex; flex-direction: column ;justify-content: center; align-items: center; gap: 2rem 0">
    <h1 style="text-transform: uppercase;">No existe la informacion solicitada</h1>
    <img style="
            width: 300px;
            height: 350px;
            transition: transform .5s ease-in-out;
            {{!-- transform: scale(1.1); --}}
            animation: animacion 1s infinite alternate;
        " 
        class="img-animation"
        src="/imgs/error-404.png" alt="error-img">
</div>