<form action="/registrar-libro" method="POST" encType="multipart/form-data">
  <input type="text" placeholder="Titulo" name="titulo">
  <input type="text" placeholder="autor" name="autor">
  <input type="file" name="imagen">

  <input type="submit" value="Crear">
</form>